@import "tailwindcss";
@import "./theme.css";

:root {
  color-scheme: light dark;

  --base-color: oklch(71.603% 0.0376 240.576);
  --text-color: oklch(from var(--base-color) calc(l / 4) calc(c * 1.5) h);
  --bg-color: oklch(from var(--base-color) l c h);
  --color-primary: oklch(from var(--base-color) calc(l + .1) calc(c * 1.5) h);
  --color-secondary: oklch(from var(--base-color) calc(l + .1) calc(c * 2) h);

  @media (prefers-color-scheme: dark) {
    --text-color: oklch(from var(--base-color) calc(1 - (l / 4)) calc(c * 1.5) h);
    --text-color: white;
    --bg-color: oklch(from var(--base-color) calc(1 - l + .1) c h);
    --color-primary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 1.5) h);
    --color-secondary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 2) h);
  }

  --color-primary-contrast: oklch(from var(--color-primary) calc(l + 0.1) c h);

  font-family: "Roboto",
  sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--text-color);
}

button .fi {
  line-height: calc(1em - 3px);
  display: block;
}

input {
  border-radius: var(--radius-lg);
  width: 100%;
}

textarea {
  border-radius: var(--radius-lg) var(--radius-lg) 0 var(--radius-lg);
  width: 100%;
  height: 10em;
  resize: vertical;
}

button {
  min-width: 44px;
  min-height: 44px;

  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

input,
textarea {
  padding: calc(2 * var(--spacing));
}

input,
textarea,
button {
  font: inherit;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.tippy-box[data-theme~='idea-catalog'] {
  background-color: var(--color-primary-contrast);
  color: var(--text-color);
  box-shadow: 0 0 1px black;

  .tippy-content {
    padding: 0;
    margin: 0;
  }
}