@import "tailwindcss";
@plugin "@tailwindcss/forms";
@import "./theme.css";
@import "@flaticon/flaticon-uicons/css/all/all";

:root {
  color-scheme: light dark;

  --base-color: oklch(71.603% 0.0376 240.576);
  --text-color: oklch(from var(--base-color) calc(l / 4) calc(c * 1.5) h);
  --bg-color: oklch(from var(--base-color) l c h);
  --color-primary: oklch(from var(--base-color) calc(l + .1) calc(c * 1.5) h);
  --color-secondary: oklch(from var(--base-color) calc(l + .1) calc(c * 2) h);

  @media (prefers-color-scheme: dark) {
    --text-color: oklch(from var(--base-color) calc(1 - (l / 4)) calc(c * 1.5) h);
    --text-color: white;
    --bg-color: oklch(from var(--base-color) calc(1 - l + .1) c h);
    --color-primary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 1.5) h);
    --color-secondary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 2) h);
  }

  --color-primary-contrast: oklch(from var(--color-primary) calc(l + 0.1) c h);

  font-family: "Roboto",
  sans-serif;
  font-size: 16px;
}

body {
  --nav-height: 12;
  margin: 0;
  color: var(--text-color);
  color: #010101;

  @media (prefers-color-scheme: dark) {
    color: #e0e0e0;
  }
}

input {
  border-radius: var(--radius-sm);
  width: 100%;
}

textarea {
  border-radius: var(--radius-sm) var(--radius-sm) 0 var(--radius-sm);
  width: 100%;
  height: 10em;
  resize: vertical;
}

button {
  min-width: 44px;
  min-height: 44px;

  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .fi:before {
    /* This prevents the icon from wiggling during render in Safari */
    vertical-align: -2px;
  }
}

input,
textarea {
  padding: calc(2 * var(--spacing));
}

input,
textarea,
button {
  font: inherit;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

button,
a {
  touch-action: manipulation;
}