html,
body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;

  --base-color: oklch(.75 0.05 170);
  --text-color: oklch(from var(--base-color) calc(l / 4) calc(c * 1.5) h);
  --bg-color: oklch(from var(--base-color) l c h);
  --color-primary: oklch(from var(--base-color) calc(l + .1) calc(c * 1.5) h);
  --color-secondary: oklch(from var(--base-color) calc(l + .1) calc(c * 2) h);

  @media (prefers-color-scheme: dark) {
    --text-color: oklch(from var(--base-color) calc(1 - (l / 4)) calc(c * 1.5) h);
    --text-color: white;
    --bg-color: oklch(from var(--base-color) calc(1 - l + .1) c h);
    --color-primary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 1.5) h);
    --color-secondary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 2) h);
  }

  --color-primary-contrast: oklch(from var(--color-primary) calc(l + 0.1) c h);

  font-family: "Roboto",
  sans-serif;
  font-size: 16px;

  button,
  input,
  textarea {
    font: inherit;
  }

  button:hover {
    cursor: pointer;
  }
}

body {
  margin: 0;
  color: var(--text-color);
  /* background-color: var(--bg-color); */
}

.btn-primary {
  border-radius: 0.5em;
  padding: 0.5em;
  width: fit-content;
  background-color: var(--color-primary-contrast);
  border: none;

  &:not(:has(i)) {
    box-shadow: 0 0 1px black;
  }

  &:hover {
    background-color: oklch(from var(--color-primary-contrast) calc(l + 0.05) c h);
  }
}

details {
  position: relative;
  background-color: var(--color-primary);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px black;

  summary {
    list-style-type: none;
    display: flex;
    /* font-weight: bold; */
    /* font-size: 1.5em; */
    user-select: none;
    padding: 1em;
  }

  summary::before {
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    /* fi-rr-angle-right */
    content: '\e08f';
    transition: transform .25s;
    place-self: center;
    margin-right: 1em;
  }

  &[open] summary {
    background-color: var(--color-primary-contrast);
    border-radius: 1em 1em 0 0;

    &::before {
      transform: rotate(90deg);
    }
  }
}

button .fi {
  margin-bottom: -.25em;
}