html,
body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;

  --base-color: oklch(71.603% 0.0376 240.576);
  --text-color: oklch(from var(--base-color) calc(l / 4) calc(c * 1.5) h);
  --bg-color: oklch(from var(--base-color) l c h);
  --color-primary: oklch(from var(--base-color) calc(l + .1) calc(c * 1.5) h);
  --color-secondary: oklch(from var(--base-color) calc(l + .1) calc(c * 2) h);

  @media (prefers-color-scheme: dark) {
    --text-color: oklch(from var(--base-color) calc(1 - (l / 4)) calc(c * 1.5) h);
    --text-color: white;
    --bg-color: oklch(from var(--base-color) calc(1 - l + .1) c h);
    --color-primary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 1.5) h);
    --color-secondary: oklch(from var(--base-color) calc(1 - l + .2) calc(c * 2) h);
  }

  --color-primary-contrast: oklch(from var(--color-primary) calc(l + 0.1) c h);

  font-family: "Roboto",
  sans-serif;
  font-size: 16px;

  button,
  input,
  textarea {
    font: inherit;
  }

  button:hover {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

body {
  margin: 0;
  color: var(--text-color);
  /* background-color: var(--bg-color); */
}

/* .font-honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
} */

.btn-primary {
  border-radius: 0.5em;
  padding: 0.5em;
  width: fit-content;
  background-color: var(--color-primary-contrast);
  border: none;
  display: flex;

  &:not(:has(i)) {
    box-shadow: 0 0 1px black;
  }

  &:hover:not(:disabled) {
    background-color: oklch(from var(--color-primary-contrast) calc(l + 0.05) c h);
  }
}

button .fi {
  margin-bottom: -.25em;
}

input {
  border-radius: 0.5em;
  width: 100%;
}

input,
textarea {
  padding: 0.5em;
}

textarea {
  border-radius: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
  width: 100%;
  height: 10em;
  resize: vertical;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.tippy-box[data-theme~='idea-catalog'] {
  background-color: var(--color-primary-contrast);
  color: var(--text-color);
  box-shadow: 0 0 1px black;

  .tippy-content {
    padding: .75em;
  }
}